<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaxy Blogspot</title>
  </head>

  <body>
    <% include navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Oasis di Mars?</h1>
          <p class="author">
            <strong>Ditemukannya Oasis di planet Mars.</strong>
            <span class="text-muted"></span>
              <script>
                document.write(date);
              </script></span>
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Selama ini, peneliti selalu mencari jawaban apakah Mars bisa ditempati manusia di masa depan atau apakah ada kehidupan
            di planet tersebut. Untuk menjawab pertanyaan tersebut, peneliti dari NASA sendiri juga mengirimkan mesin pengelana ke Mars untuk
            mengumpulkan bukti-bukti penelitian kedepannya. Dari sekian banyak penelitian yang dilakukan di planet ini, akhirnya NASA menemukan "titik terang" tentang jejak
            kehidupan di masa lalu, yakni berupa oasis kuno.
          </p>
          <br />
          <figure>
            <img class="img-thumbnail" alt="oasiss marsss" src="assets/img/artikel/oasisMars.jpg" />
            <figcaption>Gambar dari Planet Mars; 01;</figcaption>
          </figure>
          <br />
          <p>
            Lebih lanjut, Gale Crater telah terbentuk dari hantaman dahsyat yang terjadi pada miliaran tahun yang lalu. Terdapat
            sebuah pegunungan tinggi mengitari oasis yang dinamai Pegunungan Sharp. Peneliti juga menemukan kumpulan batu sedimen yang memiliki tinggi sekitar 150 meter. Bebatuan ini dinamakan sebagai
            Pulau Sutton.
          </p>
          <br />
          <p>
            Terdapat beberapa celah di bebatuan sehingga menciptakan sebuah danau yang peneliti namakan sebagai "Old Soaker", dan
            ditemukan mineral garam dalam danau tersebut. Dengan ini, peneliti memprediksi Mars atau area sekitar Gale Crater ini
            pernah terdapat air asin. Melalui jurnal Nature Goescience, peneliti menemukan air yang ada di Pulau Sutton mengering dan meninggalkan garam asli,
            tetapi garam tersebut bukanlah garam meja, melainkan garam mineral.
          </p>
          <br />
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
