<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaxy Blogspot</title>
  </head>

  <body>
    <% include navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Fakta Tata Surya</h1>
          <p class="author">
            <strong
              >Berikut ini 2 fakta paling mencolok dari Tata Surya kita!</strong
            >
            <span class="text-muted">
              <script>
                document.write(date);
              </script></span
            >
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Sejarah tata surya dimulai sekitar 4,6 miliar tahun yang lalu, dari
            awan dan debu bintang yang disebut nebula surya. Pada titik
            tertentu, nebula runtuh menjadi cakram protoplanet. Tekanan yang
            berasal dari material begitu besar sehingga menyatukan atom hidrogen
            menjadi helium sembari melepaskan sejumlah besar energi dan
            melahirkan Matahari.
          </p>
          <p>
            Meskipun Matahari mengambil 99,8 persen total material cakram
            protoplanet, masih ada sedikit sisa material yang kemudian
            menggumpal karena gaya gravitasi yang melahirkan planet dan bulan.
            Planet berbatu, seperti Mars, Venus dan Bumi, terbentuk di dekat
            Matahari, karena material yang mengandung es dan gas tidak mampu
            bertahan menghadapi radiasi panas Matahari.
          </p>
          <p>
            Nah, buat kamu yang masih penasaran dengan ruang angkasa kita,
            berikut 5 fakta ringan mengenai tata surya yang mudah dimengerti.
          </p>
          <br />

          <!--  bagian artikel 3  -->
          <h3>1. Lokasi dan Orbit Tata Surya</h3>
          <figure>
            <img
              alt="orbit tata-suryaa"
              class="img-thumbnail"
              src="assets/img/artikel/orbittatasurya.jpg"
            />
            <figcaption>Gambar dari Tata Surya; 01;</figcaption>
          </figure>
          <br />
          <p>
            Dengan massa 99,8 persen tata surya, Matahari mengendalikan seluruh
            tata surya dan menjaga seluruh objek mulai dari planet terbesar
            hingga puing-puing partikel terkecil untuk tetap berada pada
            lintasan orbitnya masing-masing.
          </p>
          <p>
            Berada di lengan Orion galaksi Bima Sakti, Matahari membawa seluruh
            anggota tata surya untuk mengorbit pusat galaksi dengan kecepatan
            720.000 km/jam. Dibutuhkan waktu sekitar 230 juta tahun bagi tata
            surya untuk menyelesaikan satu kali orbit penuh mengelilingi pusat
            galaksi Bima Sakti.
          </p>
          <br />

          <!-- bagian 2 artikel 3 -->
          <h3>2. Usia Tata Surya</h3>
          <br />
          <figure>
            <img
              alt="usia tata-suryaa"
              class="img-thumbnail"
              src="assets/img/artikel/usiatatasurya.jpg"
            />
            <figcaption>Gambar dari Batu Asteroid; 02;</figcaption>
          </figure>
          <br />
          <p>
            Para ilmuwan bisa memperkirakan usia tata surya yang dilahirkan
            secara bersamaan. Untuk mendapatkan angka tersebut, para ilmuwan
            mencari objek-objek tertua yang dapat ditemukan.
          </p>
          <p>
            Ketika para astronot misi Apollo NASA membawa sampel batuan dari
            Bulan, para ilmuwan kemudian mempelajarinya untuk mengetahui usia
            tata surya. Dari penentuan usia sampel batuan Bulan, para ilmuwan
            memperoleh angka 4,5 miliar tahun sebagai perkiraan usia tata surya.
          </p>
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
