<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaxy Blogspot</title>
  </head>

  <body>
    <% include navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Tata Surya</h1>
          <p class="author">
            <strong>Apa sih Tata Surya?</strong>
            <span class="text-muted"
              ><script>
                document.write(date);
              </script></span
            >
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Tata Surya adalah kumpulan benda langit yang terdiri atas sebuah
            bintang yang disebut Matahari dan semua objek yang terikat oleh gaya
            gravitasinya. Objek-objek tersebut termasuk delapan buah planet yang
            sudah diketahui dengan orbit berbentuk elips, lima planet
            kerdil/katai, 173 satelit alami yang telah diidentifikasi, dan
            jutaan benda langit (meteor, asteroid, komet) lainnya.
          </p>
          <br />
          <figure>
            <img
              class="img-thumbnail"
              alt="tata suryaa"
              src="assets/img/artikel/tatasurya.png"
            />
            <figcaption>Gambar dari Tata Surya; 01;</figcaption>
          </figure>
          <br />
          <p>
            Tata Surya terbagi menjadi Matahari, empat planet bagian dalam,
            sabuk asteroid, empat planet bagian luar, dan di bagian terluar
            adalah Sabuk Kuiper dan piringan tersebar. Awan Oort diperkirakan
            terletak di daerah terjauh yang berjarak sekitar seribu kali di luar
            bagian yang terluar.
          </p>
          <br />
          <p>
            Berdasarkan jaraknya dari Matahari, kedelapan planet Tata Surya
            ialah Merkurius (57,9 juta km), Venus (108 juta km), Bumi (150 juta
            km), Mars (228 juta km), Jupiter (779 juta km), Saturnus (1.430 juta
            km), Uranus (2.880 juta km), dan Neptunus (4.500 juta km). Sejak
            pertengahan 2008, ada lima objek angkasa yang diklasifikasikan
            sebagai planet kerdil. Orbit planet-planet kerdil, kecuali Ceres,
            berada lebih jauh dari Neptunus. Kelima planet kerdil tersebut ialah
            Ceres (415 juta km. di sabuk asteroid; dulunya diklasifikasikan
            sebagai planet kelima), Pluto (5.906 juta km.; dulunya
            diklasifikasikan sebagai planet kesembilan), Haumea (6.450 juta km),
            Makemake (6.850 juta km), dan Eris (10.100 juta km).
          </p>
          <br />
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
