<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaxy Blogspot</title>
  </head>

  <body>
    <% include navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Planet Baru</h1>
          <p class="author">
            <strong>Planet Baru dengan nama Planet 9?</strong>
            <span class="text-muted"
              ><script>
                document.write(date);
              </script></span
            >
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Para ilmuwan selama bertahun-tahun ini menduga terdapat objek
            misterius yang diduga merupakan planet besar yang mengorbit di
            sekitar Sabuk Kuiper. Sabuk kuiper adalah gugusan asteroid yang
            sangat luas yang mengorbit setelah planet Neptunus. Mereka menyebut
            objek misterius ini sebagai Planet 9. Namun, hingga kini belum ada
            yang dapat membuktikan keberadaan planet tersebut.
          </p>
          <br />
          <figure>
            <img
              class="img-thumbnail"
              alt="planet9"
              src="assets/img/artikel/planet9.jpeg"
            />
            <figcaption>Gambar dari Planet 9; 01;</figcaption>
          </figure>
          <br />
          <p>
            Planet 9 atau Planet X ini terletak di sebuah wilayah di tata surya
            yang ada di luar delapan planet utama atau di luar Neptunus yang
            disebut Sabuk Kuiper.
          </p>
          <br />
          <p>
            Sabuk Kuiper membentang dari orbit Neptunus hingga sekitar 50 Unit
            Astronomi (AU) dari Matahari (1 AU setara dengan jarak Bumi ke
            Mahatahari atau sekitar 150 juta kilometer). Dengan menggunakan
            sistem komputer, diperkirakan Planet 9 memiliki massa 5 hingga 10
            kali Bumi. Di dalam Sabuk Kuiper terdapat bebatuan, es, komet, dan
            planet kerdil seperti Pluto atau yang disebut Objek Sabuk Kuiper
            (KBO).
          </p>
          <br />
          <p>
            Dilansir dari Space, Batygin dan Brown awalnya meneliti orbit
            berbentuk elips dari enam objek di Sabuk Kuiper. Dari hasil
            penelitian tersebut ditemukan bahwa semua objek Sabuk Kuiper punya
            orbit elips yang sama dan kemiringannya 30 derajat di bandingkan
            kedelapan planet yang mengelilingi matahari. Kemiringan orbital
            mereka juga menunjukkan hal yang tak biasa. Gerakan mereka seperti
            dikendalikan oleh interaksi gravitasi yang lebih besar.
          </p>
          <br />
        </div>
      </div>
    </div>

    <% include footer/footer %>
  </body>
</html>
