<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaxy Blogspot</title>
  </head>

  <body>
    <% include navbar/navbarTentang %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>Galaxy Blogspot</h1>
          <p class="author">
            <strong>Tentang Penulis</strong>
            <span class="text-muted"
              ><script>
                document.write(date);
              </script></span
            >
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Nama saya <strong>Achmad Syeh Hasimy, Md.</strong> Dikenal dengan
            nama Hasimy, atau dengan nama samaran saya yaitu Yurod. Saya
            kelahiran Malang, pada tanggal 16 Maret 2003, dan pada blogspot ini
            saya membuat beberapa konten berupa artikel tentang tata surya pada
            alam semesta.
          </p>
          <p>
            Saya ikut kelas Node ini supaya ilmu back-end saya tentang Node.js
            itu bertambah. Juga saya ingin menjadi spesialis back-end Node.js,
            karena untuk programmer back-end dengan Javascript masih relatif
            sedikit di Indonesia, kebanyakan masih ditangan PHP, baik
            <i>native</i>, maupun dengan <i>framework</i>.
          </p>
          <br />
          <figure>
            <img
              class="img-thumbnail"
              alt="cogan"
              src="assets/img/hasimyurod.jpg"
            />
            <figcaption>Gambar dari Hasimyy; 01;</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
