<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/user.css" />

<script>
  let today = new Date();
  let date =
    today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
  let year = today.getFullYear();
</script>

<ul class="nav nav-pills categories">
  <li><a href="/">Beranda </a></li>
  <li class="active"><a href="/artikel">Artikel </a></li>
  <li><a href="/tentang">Tentang Saya</a></li>
</ul>
